{% extends "layout.html" %}
{% block content %}

<img src="static/images/covid.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>What is Covid-19?</h1>
        </header>
        
        <div class="w3-container">
          <p>
            Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.

            Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.
            
            The best way to prevent and slow down transmission is to be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face. 
            
            The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by coughing into a flexed elbow).
        </p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>Symptoms</h1>
            </header>
            
            <div class="w3-container">
              <p>
                People with COVID-19 have had a wide range of symptoms reported – ranging from mild symptoms to severe illness. Symptoms may appear 2-14 days after exposure to the virus. People with these symptoms may have COVID-19:
                Most common symptoms:
                1.fever
                2.dry cough
                3.tiredness </p>
                <p>
                Less common symptoms:
                1.aches and pains
                2.sore throat
                3.diarrhoea
                4.conjunctivitis
                5.headache
                6.loss of taste or smell
                7.a rash on skin, or discolouration of fingers or toes</p>
                <p>
                Serious symptoms:
                1.difficulty breathing or shortness of breath
                2.chest pain or pressure
                3.loss of speech or movement
            </p>

            </div>
            <footer class="w3-container w3-blue">
                <h5></h5>
              </footer>
              
              </div>
            
           
        <div class="w3-card-4 w3-margin">

                    <header class="w3-container w3-blue">
                      <h1>Precautions</h1>
                    </header>
                    
            <div class="w3-container">
                      <p>
                        Masks can help prevent the spread of the virus from the person wearing the mask to others. Masks alone do not protect against COVID-19, and should be combined with physical distancing and hand hygiene. Follow the advice provided by your local health authority.
                    </p>
            </div>
                    
                    <footer class="w3-container w3-blue">
                      <h5></h5>
                    </footer>
                    
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>Treatment</h1>
            </header>
            
            <div class="w3-container">
              <p>
                Seek immediate medical attention if you have serious symptoms. Always call before visiting your doctor or health facility.
                People with mild symptoms who are otherwise healthy should manage their symptoms at home.
                On average it takes 5–6 days from when someone is infected with the virus for symptoms to show, however it can take up to 14 days.
            </p>
            </div>
            
            <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
            
            </div>        
{% endblock %}